@tailwind base;
@tailwind components;
@tailwind utilities;


/* scrolling  */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    /* background-color: #fff; */
    opacity: 0.1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    /* box-shadow: 0px 0px 2px 0.5px #004d54; */
    background-color: lightblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #c2c2c2;
  
  }